### 1. Load the CSV Data File into a Pandas DataFrame

**a. import Pandas**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

**b. Read in the .csv file with pandas read_csv**

In [4]:
data = pd.read_csv('../dataset/credit_card.csv')
data.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:18:07,343464013864032,fraud_Kunde-Sanford,misc_net,2.55,Jodi,Foster,F,551 Zachary Freeway,Bailey,...,35.8072,-78.0892,6629,Call centre manager,1962-08-13,abe0676c18f34fa305b113fa762e29b5,1325377087,36.749870,-78.677870,0
2,2019-01-01 00:37:18,4265776278887457,fraud_Pacocha-O'Reilly,grocery_pos,103.00,Christine,Best,F,68248 Deanna Land,Enola,...,35.2087,-92.2123,969,"Physicist, medical",1954-01-05,289789e617eece42a9cafe36680b1b69,1325378238,35.034285,-92.343010,0
3,2019-01-01 00:56:59,571465035400,"fraud_Reichert, Huels and Hoppe",shopping_net,113.40,Louis,Fisher,M,45654 Hess Rest,Fort Washakie,...,43.0048,-108.8964,1645,Freight forwarder,1976-02-26,9d660a18154a3ba5fe869f373c6f819c,1325379419,42.868965,-108.503350,0
4,2019-01-01 01:16:52,6593250708747804,fraud_Brekke and Sons,gas_transport,55.18,Melissa,Meza,F,244 Abbott Parkway,Loxahatchee,...,26.7383,-80.2760,26551,Paramedic,1977-01-04,3c6158c556727d527f8b51cc03b30236,1325380612,27.346033,-80.475563,0

### 2. Find Statistical Properties of the DataFrame and Check NaN Values

**a. Create the statistical summaries:**

In [8]:
data.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,5.907300e+04,59073.000000,59073.000000,59073.000000,59073.000000,5.907300e+04,5.907300e+04,59073.000000,59073.000000,59073.000000
mean,4.155063e+17,125.809682,48936.650805,38.535668,-90.300925,8.999355e+04,1.349139e+09,38.530650,-90.301737,0.127063
std,1.305091e+18,245.649462,26897.427002,5.082398,13.872055,3.056844e+05,1.296902e+07,5.118062,13.884615,0.333046
min,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.325376e+09,19.038876,-166.620488,0.000000
25%,1.800462e+14,11.510000,26292.000000,34.703100,-96.798000,7.410000e+02,1.338510e+09,34.795189,-96.904179,0.000000
50%,3.523898e+15,52.520000,48088.000000,39.319900,-87.456900,2.457000e+03,1.349187e+09,39.333993,-87.378850,0.000000
75%,4.642255e+15,101.050000,72042.000000,41.846700,-80.175200,2.032800e+04,1.359542e+09,41.918596,-80.285566,0.000000
max,4.992346e+18,14238.110000,99783.000000,66.693300,-67.950300,2.906700e+06,1.371816e+09,67.510267,-66.961923,1.000000

**b. check all columns for null values**

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59073 entries, 0 to 59072
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  59073 non-null  object
 1   cc_num                 59073 non-null  int64
 2   merchant               59073 non-null  object
 3   category               59073 non-null  object
 4   amt                    59073 non-null  float64
 5   first                  59073 non-null  object
 6   last                   59073 non-null  object
 7   gender                 59073 non-null  object
 8   street                 59073 non-null  object
 9   city                   59073 non-null  object
 10  state                  59073 non-null  object
 11  zip                    59073 non-null  int64
 12  lat                    59073 non-null  float64
 13  long                   59073 non-null  float64
 14  city_pop               59073 non-null  int64
 15  job                    59073 non-null  object
 16  dob                    59073 non-null  object
 17  trans_num              59073 non-null  object
 18  unix_time              59073 non-null  int64
 19  merch_lat              59073 non-null  float64
 20  merch_long             59073 non-null  float64
 21  is_fraud               59073 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 9.9+ MB

In [10]:
git add .
git commit -m "overview"
git push

SyntaxError: invalid syntax (1792969237.py, line 1)